.header{
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2% 2%;
  background-color: blue;
  color: white;
}

.nav{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list{
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(240, 240, 240);
  cursor: pointer;
}
.list:hover{
  color: white;
}

.name{
  font-family: cursive;
  font-size: 20px;
  text-transform: capitalize;
  margin: 2% 2% 2% 2%;
}

.a{
  color:rgb(240, 240, 240);
}

.motto {
  font-family: mv boli;
  font-size: 15px;
  color: lightgrey;
}

.profile{
  position: absolute;
  width: 90%;
  height: 70%;
  top: 20%;
  left: 2.5%;
  padding: 1% 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.details{
  width: 50%;
  text-align: left;
  display: flex;
}
.detail{
  width: 50%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detailing{
  text-align: center;
  border: 1px solid black;
}

.desk, .tower{
  position: absolute;
  top: 12%;
  width: 56%;
  padding: 2%
}

.tower{
  left: 60%;
  width: 35%;
  padding: 2%;
  height: 70%;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
}

.watches{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  text-transform: capitalize;
}

.watch:nth-child(1){
  color: green;
}

.watch:nth-child(2){
  color: blue;
}

.watch:nth-child(3){
  color: brown;
}

.watch:nth-child(4){
  color: purple;
}

.watch:nth-child(5){
  color: red;
}
.operations{
  width: 100%;
}
.operation{
  padding:2%;
  margin: 2%;
  width: 46%;
}

.CNT {
  position: absolute;
  top: 15%;
  width: 94%;
  height: 75%;
  padding: 0.5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.CNTForm {
  width: 90%;
  height: 80%;
  background-color: grey;
  color: white;
  padding: 3% 5%;
}

.CNTLabel {
  margin-left: 1%;
}

.CNTInput {
  margin: 0;
  border: 1px solid black;
  padding: 0.5%;
  margin-right: 10%;
  margin-bottom: 8%;
}

.rar{
  margin-right: 10%;
  margin-bottom: 8%;
}